@charset "UTF-8";

section#currículo {
    background-color: rgb(216, 206, 206);
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    margin-bottom: 10px;
}

section#currículo > section#cabeçalho > img {
    width: 150px;
    border: 2px solid rgba(255, 255, 255, 0.342);
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
}

section#currículo > section#cabeçalho > div#título {
    position: absolute;
}

div#título > h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 1.3em;
}

div#título > p {
    display: block;
    text-align: center;
}

section#currículo > section#corpo {
    margin-top: 10px;
}

section#corpo > h2 {
    font-size: 1.3em;
    font-variant: small-caps;
    padding: 10px 0px;
}

section#corpo > ul > li {
    font-size: 1em;
    margin-left: 30px;
}

button {
    width: 200px;
    height: 30px;
    background-color: green;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: darkgreen;
}

#txt_mais {
    display: none;
}

#link {
    display: none;
}