@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #006eff;
    color: white;
}

header > img#foto_de_perfil {
    width: 100px;
    margin: 10px 0px 0px 10px;
    border: 2px solid rgba(255, 255, 255, 0.459);
    border-radius: 50%;
}

header > h1 {
    position: absolute;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.432);
}

menu {
    background-color: #035bce;
}

menu > img {
    cursor: pointer;
    padding: 5px;
    background-image: url("../imagens/icone-menu-branco.png");
    background-repeat: no-repeat;
    background-position: center center;
}

menu > img:hover {
    background-color: #023270;
    background-image: url("../imagens/icone-menu.png");
}

menu > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

menu > ul > li > a.menu_selecionado {
    background-color: #034397;
}

menu > ul > li > a:hover {
    background-color: #023270;
    text-decoration: underline;
}

main {
    padding: 10px;
}

main > section#conteúdo {
    width: 90%;
    margin: auto;
}

main > section#conteúdo > h1 {
    text-align: center;
    font-variant: small-caps;
    padding: 10px 0px;
}

main > section#conteúdo > p {
    text-indent: 30px;
    line-height: 1.5em;
}

footer {
    background-color: #035bce;
    color: white;
    padding: 10px;
    text-align: center;
}