@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

header > section#section_perfil{
    background-image: linear-gradient(to bottom, #0077ff, #035abe, #02428b);
    color: white;
    padding: 10px 0px 0px 10px;
}

header > section > img#foto_de_perfil {
    border: 2px solid rgba(255, 255, 255, 0.459);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

header > section > h1 {
    position: absolute;
    display: inline;
    margin-left: 20px;
    font-size: 2em;
}

section#section_menu {
    background-color: #02428b;
}

section#section_menu > span#bt_menu {
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    padding: 5px;
}

section#section_menu > span#bt_menu:hover {
    background-color: white;
    color: black;
}

section#section_menu > span#bt_menu:active {
    background-color: unset;
    color: white;
}

menu {
    display: none;
    width: 150px;
    background-color: #023168;
    position: absolute;
}

menu > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
}

menu > a:hover {
    background-color: #021c3a;
}

menu > a:active {

}

main {
    padding: 10px;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

main > h1 {
    text-align: center;
    padding: 10px 0px 20px 0px;
}

main > p {
    text-indent: 20px;
    text-align: justify;
}

footer {
    background-color: #02428b;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    width: calc(100vw - 20px);
}